In [1]:
# package installer
!pip install kagglehub
!pip install pandas
!pip install pathlib

Requirement already satisfied: kagglehub in /usr/local/lib/python3.11/dist-packages (0.3.12)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->kagglehub) (2025.4.26)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pathlib in /usr/local/lib/python3.11/dist-packages (1.0.1)

In [2]:
import kagglehub
import pandas as pd
from pathlib import Path

In [3]:
path = kagglehub.dataset_download("omniamahmoudsaeed/real-estate-sales-2001-2022")

In [4]:
path

'/kaggle/input/real-estate-sales-2001-2022'

In [5]:
data_dir = Path(path)
print(list(data_dir.glob("*")))  # This will show you the available files

csv_file = next(data_dir.glob("*.csv"))  # Picks the first CSV file found
df = pd.read_csv(csv_file)

[PosixPath('/kaggle/input/real-estate-sales-2001-2022/Real_Estate_Sales_2001-2022_GL.csv')]

<ipython-input-5-367a845cc6f2>:5: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_file)

In [6]:
df

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014)
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,NaN,NaN,NaN,NaN
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,Two Family,NaN,NaN,NaN,NaN
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,Condo,NaN,NaN,NaN,POINT (-72.879115982 41.773452988)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097624,2200073,2022,10/11/2022,Stamford,193 SADDLE HILL ROAD,483380.0,865000.0,0.5588,Residential,Single Family,NaN,NaN,NaN,POINT (-73.577612999 41.148977983)
1097625,220369,2022,09/29/2023,Wethersfield,37 LUCA LN,20650.0,760857.0,0.0271,Residential,Single Family,07 - Change in Property,NEW CONSTRUCTION - NOT COMPLETE FOR 10/1/2022,NaN,POINT (-72.663607 41.712487)
1097626,2200470,2022,01/09/2023,Stamford,1096 EAST MAIN STREET #16-D-1,132900.0,220000.0,0.6040,Residential,Condo,NaN,NaN,NaN,POINT (-73.515726977 41.057837988)
1097627,22396,2022,09/26/2023,Old Saybrook,115 SHEFFIELD ST,1099400.0,1575000.0,0.6980,Residential,Single Family,NaN,NaN,NaN,POINT (-72.368005967 41.289124997)
1097628,220890,2022,05/18/2023,Southington,32 SOUTHINGTON AV,135860.0,330000.0,0.4117,Residential,Single Family,07 - Change in Property,NaN,TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #...,POINT (-72.87929502 41.590926988)

In [7]:
df.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks',
       'Location'],
      dtype='object')

In [8]:
df.dtypes

Serial Number         int64
List Year             int64
Date Recorded        object
Town                 object
Address              object
Assessed Value      float64
Sale Amount         float64
Sales Ratio         float64
Property Type        object
Residential Type     object
Non Use Code         object
Assessor Remarks     object
OPM remarks          object
Location             object
dtype: object

In [9]:
# calculate number of missing
df.isnull().sum()

Serial Number             0
List Year                 0
Date Recorded             2
Town                      0
Address                  51
Assessed Value            0
Sale Amount               0
Sales Ratio               0
Property Type        382446
Residential Type     398389
Non Use Code         784178
Assessor Remarks     926401
OPM remarks         1084598
Location             799518
dtype: int64

In [10]:
df.isnull().sum() / df.shape[0] * 100

Serial Number        0.000000
List Year            0.000000
Date Recorded        0.000182
Town                 0.000000
Address              0.004646
Assessed Value       0.000000
Sale Amount          0.000000
Sales Ratio          0.000000
Property Type       34.842921
Residential Type    36.295415
Non Use Code        71.442901
Assessor Remarks    84.400194
OPM remarks         98.812805
Location            72.840459
dtype: float64

In [11]:
df.shape

(1097629, 14)

In [12]:
# cleaning the "low" missing values
df = df.dropna(subset=['Date Recorded', 'Address'])

In [13]:
df.isnull().sum() / df.shape[0] * 100

Serial Number        0.000000
List Year            0.000000
Date Recorded        0.000000
Town                 0.000000
Address              0.000000
Assessed Value       0.000000
Sale Amount          0.000000
Sales Ratio          0.000000
Property Type       34.840257
Residential Type    36.292819
Non Use Code        71.445947
Assessor Remarks    84.399560
OPM remarks         98.812750
Location            72.839652
dtype: float64

In [14]:
# setting missing values for Residential type or property type
df['Property Type'] = df['Property Type'].fillna('Unknown')
df['Residential Type'] = df['Residential Type'].fillna('Unknown')

<ipython-input-14-7c4100c4658c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Property Type'] = df['Property Type'].fillna('Unknown')
<ipython-input-14-7c4100c4658c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Residential Type'] = df['Residential Type'].fillna('Unknown')

In [15]:
df.isnull().sum() / df.shape[0] * 100

Serial Number        0.000000
List Year            0.000000
Date Recorded        0.000000
Town                 0.000000
Address              0.000000
Assessed Value       0.000000
Sale Amount          0.000000
Sales Ratio          0.000000
Property Type        0.000000
Residential Type     0.000000
Non Use Code        71.445947
Assessor Remarks    84.399560
OPM remarks         98.812750
Location            72.839652
dtype: float64

In [16]:
# dropping the columns which as missing rows
df = df.drop(columns=['Non Use Code', 'Assessor Remarks', 'OPM remarks', 'Location'])

In [17]:
df.isnull().sum() / df.shape[0] * 100

Serial Number       0.0
List Year           0.0
Date Recorded       0.0
Town                0.0
Address             0.0
Assessed Value      0.0
Sale Amount         0.0
Sales Ratio         0.0
Property Type       0.0
Residential Type    0.0
dtype: float64

In [18]:
df['Residential Type'].value_counts()

Residential Type
Single Family    508042
Unknown          398342
Condo            136821
Two Family        34847
Three Family      16567
Four Family        2959
Name: count, dtype: int64

In [19]:
df['Property Type'].value_counts()

Property Type
Single Family     401610
Unknown           382399
Residential       151064
Condo             105419
Two Family         26407
Three Family       12586
Vacant Land         7824
Commercial          5987
Four Family         2150
Apartments          1327
Industrial           795
Public Utility        10
Name: count, dtype: int64

In [20]:
df['Property Type'].value_counts() / df.shape[0] * 100

Property Type
Single Family     36.590566
Unknown           34.840257
Residential       13.763395
Condo              9.604693
Two Family         2.405934
Three Family       1.146707
Vacant Land        0.712842
Commercial         0.545474
Four Family        0.195886
Apartments         0.120903
Industrial         0.072432
Public Utility     0.000911
Name: count, dtype: float64

In [21]:
rare_threshold = 5000
counts = df['Property Type'].value_counts()
rare_types = counts[counts < rare_threshold].index
df['Property Type'] = df['Property Type'].replace(rare_types, 'Other')

In [22]:
df['Property Type'].value_counts() / df.shape[0] * 100

Property Type
Single Family    36.590566
Unknown          34.840257
Residential      13.763395
Condo             9.604693
Two Family        2.405934
Three Family      1.146707
Vacant Land       0.712842
Commercial        0.545474
Other             0.390132
Name: count, dtype: float64

In [23]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
categorical_column = ['Residential Type']

In [25]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

encoded_array = encoder.fit_transform(df[['Residential Type']])

In [26]:
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(categorical_column))

In [27]:
df_encoded = pd.concat([df.reset_index(drop=True), encoded_df], axis=1)

In [28]:
df_encoded.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Residential Type_Condo',
       'Residential Type_Four Family', 'Residential Type_Single Family',
       'Residential Type_Three Family', 'Residential Type_Two Family',
       'Residential Type_Unknown'],
      dtype='object')

In [29]:
df_encoded.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Residential Type_Condo,Residential Type_Four Family,Residential Type_Single Family,Residential Type_Three Family,Residential Type_Two Family,Residential Type_Unknown
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,0.0,0.0,1.0,0.0,0.0,0.0
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,0.0,0.0,0.0,1.0,0.0,0.0
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,Unknown,0.0,0.0,0.0,0.0,0.0,1.0
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,Two Family,0.0,0.0,0.0,0.0,1.0,0.0
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,Condo,1.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df_encoded = df_encoded.drop(columns=categorical_column)

In [31]:
df_encoded.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type_Condo,Residential Type_Four Family,Residential Type_Single Family,Residential Type_Three Family,Residential Type_Two Family,Residential Type_Unknown
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,0.0,0.0,1.0,0.0,0.0,0.0
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,0.0,0.0,0.0,1.0,0.0,0.0
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,0.0,0.0,0.0,0.0,0.0,1.0
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,0.0,0.0,0.0,0.0,1.0,0.0
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,1.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Encoding property type
categorical_column = ['Property Type']
encoded_array = encoder.fit_transform(df[['Property Type']])

In [33]:
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(categorical_column))

In [34]:
df_encoded = pd.concat([df_encoded.reset_index(drop=True), encoded_df], axis=1)

In [35]:
df_encoded.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type_Condo', 'Residential Type_Four Family',
       'Residential Type_Single Family', 'Residential Type_Three Family',
       'Residential Type_Two Family', 'Residential Type_Unknown',
       'Property Type_Commercial', 'Property Type_Condo',
       'Property Type_Other', 'Property Type_Residential',
       'Property Type_Single Family', 'Property Type_Three Family',
       'Property Type_Two Family', 'Property Type_Unknown',
       'Property Type_Vacant Land'],
      dtype='object')

In [36]:
df_encoded.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type_Condo,...,Residential Type_Unknown,Property Type_Commercial,Property Type_Condo,Property Type_Other,Property Type_Residential,Property Type_Single Family,Property Type_Three Family,Property Type_Two Family,Property Type_Unknown,Property Type_Vacant Land
0,2020177,2020,04/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2020225,2020,05/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2020348,2020,09/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,210288,2021,06/20/2022,Avon,12 BYRON DRIVE,179990.0,362500.0,0.4965,Residential,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [37]:
df_encoded = df_encoded.drop(columns=categorical_column)

In [38]:
df_encoded.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio',
       'Residential Type_Condo', 'Residential Type_Four Family',
       'Residential Type_Single Family', 'Residential Type_Three Family',
       'Residential Type_Two Family', 'Residential Type_Unknown',
       'Property Type_Commercial', 'Property Type_Condo',
       'Property Type_Other', 'Property Type_Residential',
       'Property Type_Single Family', 'Property Type_Three Family',
       'Property Type_Two Family', 'Property Type_Unknown',
       'Property Type_Vacant Land'],
      dtype='object')

In [39]:
df_encoded.dtypes

Serial Number                       int64
List Year                           int64
Date Recorded                      object
Town                               object
Address                            object
Assessed Value                    float64
Sale Amount                       float64
Sales Ratio                       float64
Residential Type_Condo            float64
Residential Type_Four Family      float64
Residential Type_Single Family    float64
Residential Type_Three Family     float64
Residential Type_Two Family       float64
Residential Type_Unknown          float64
Property Type_Commercial          float64
Property Type_Condo               float64
Property Type_Other               float64
Property Type_Residential         float64
Property Type_Single Family       float64
Property Type_Three Family        float64
Property Type_Two Family          float64
Property Type_Unknown             float64
Property Type_Vacant Land         float64
dtype: object

In [40]:
df_encoded["Address"].value_counts()

Address
MULTI ADDRESSES                  620
8 SOUTH RD                       498
51 OLD SPRINGFIELD RD            204
312 N BISHOP AVE                 114
RIGGS ST                         106
                                ...
MILL POND DR LOT 50                1
30 SCHOOLHOUSE DRIVE UNIT 203      1
18 ANTHONY TERR                    1
61 SINGING OAKS                    1
100 OLD SEA LA                     1
Name: count, Length: 771931, dtype: int64

In [41]:
# Since there is no clear indication being able to extract features from the adress column, we drop it

df_encoded = df_encoded.drop(columns="Address")

In [42]:
df_encoded["Town"].value_counts()

Town
Bridgeport       38156
Stamford         36629
Waterbury        32661
Norwalk          26939
New Haven        23705
                 ...
Hartland           512
Canaan             507
Scotland           485
Union              296
***Unknown***        1
Name: count, Length: 170, dtype: int64

In [43]:
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')

categorical_column = ['Town']

town_encoded = encoder.fit_transform(df_encoded[['Town']])

In [44]:
encoded_df = pd.DataFrame(town_encoded, columns=encoder.get_feature_names_out(categorical_column))

In [45]:
df_encoded = pd.concat([df_encoded.reset_index(drop=True), encoded_df], axis=1)

In [46]:
df_encoded.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Assessed Value',
       'Sale Amount', 'Sales Ratio', 'Residential Type_Condo',
       'Residential Type_Four Family', 'Residential Type_Single Family',
       ...
       'Town_Willington', 'Town_Wilton', 'Town_Winchester', 'Town_Windham',
       'Town_Windsor', 'Town_Windsor Locks', 'Town_Wolcott', 'Town_Woodbridge',
       'Town_Woodbury', 'Town_Woodstock'],
      dtype='object', length=192)

In [47]:
df_encoded.head()

,Serial Number,List Year,Date Recorded,Town,Assessed Value,Sale Amount,Sales Ratio,Residential Type_Condo,Residential Type_Four Family,Residential Type_Single Family,...,Town_Willington,Town_Wilton,Town_Winchester,Town_Windham,Town_Windsor,Town_Windsor Locks,Town_Wolcott,Town_Woodbridge,Town_Woodbury,Town_Woodstock
0,2020177,2020,04/14/2021,Ansonia,133000.0,248400.0,0.5354,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020225,2020,05/26/2021,Ansonia,110500.0,239900.0,0.4606,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020348,2020,09/13/2021,Ansonia,150500.0,325000.0,0.4630,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020090,2020,12/14/2020,Ansonia,127400.0,202500.0,0.6291,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,210288,2021,06/20/2022,Avon,179990.0,362500.0,0.4965,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
df_encoded = df_encoded.drop(columns=categorical_column)

In [49]:
df_encoded.describe()

,Serial Number,List Year,Assessed Value,Sale Amount,Sales Ratio,Residential Type_Condo,Residential Type_Four Family,Residential Type_Single Family,Residential Type_Three Family,Residential Type_Two Family,...,Town_Willington,Town_Wilton,Town_Winchester,Town_Windham,Town_Windsor,Town_Windsor Locks,Town_Wolcott,Town_Woodbridge,Town_Woodbury,Town_Woodstock
count,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,...,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06,1.097578e+06
mean,5.370584e+05,2.011219e+03,2.818110e+05,4.053209e+05,9.604324e+00,1.246572e-01,2.695936e-03,4.628755e-01,1.509414e-02,3.174900e-02,...,1.303780e-03,5.475693e-03,3.625255e-03,5.290740e-03,8.691865e-03,4.282156e-03,4.775059e-03,2.540138e-03,3.443947e-03,3.047619e-03
std,7.526248e+06,6.773461e+00,1.657927e+06,5.143607e+06,1.801706e+03,3.303300e-01,5.185239e-02,4.986201e-01,1.219275e-01,1.753312e-01,...,3.608436e-02,7.379509e-02,6.010088e-02,7.254483e-02,9.282416e-02,6.529795e-02,6.893666e-02,5.033576e-02,5.858403e-02,5.512109e-02
min,2.100000e+01,2.001000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.071200e+04,2.005000e+03,8.910000e+04,1.450000e+05,4.778919e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,8.070850e+04,2.011000e+03,1.405900e+05,2.330000e+05,6.105882e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.703420e+05,2.018000e+03,2.282700e+05,3.750000e+05,7.707259e-01,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.000500e+09,2.022000e+03,8.815100e+08,5.000000e+09,1.226420e+06,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

Predicting values

In [50]:
# sale amount is the predicted variable
y = df_encoded['Sale Amount']
X = df_encoded.drop(columns="Sale Amount")

In [51]:
# Dimensionality reduction through PCA

from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)